# Python environment
.venv/
__pycache__/
*.pyc

# Data (we don't push raw or heavy data)
data/raw/
data/images/
data/processed/*.parquet

# OS and editor files
.DS_Store
.idea/
.vscode/
.gitignore
/data/images/
/data/raw/
/data/processed/cv_split/
/models/*.pt
.DS_Store
*.pyc
__pycache__/
